@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Oswald, sans-serif;
    }
}

#movie-modal {
    display: none;
}

#movie-modal.active {
    display: flex;
}
